name: CI

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main"]
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/setup

      - name: Lint (Biome)
        run: pnpm lint

      - name: Lint (Workspace)
        run: pnpm run knip

  check-workspace:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/setup

      # - run: pnpm dlx sherif@1.9.0
      - run: pnpm run knip

  check-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/setup

      - name: Lint (Biome)
        run: pnpm fmt --check
      